<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>t-Kliping</title>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" th:href="@{/src/css/main.css}">

<script>
$( function() {
    $( "#datepicker" ).datepicker({
      changeMonth: false,
      changeYear: false,
      dateFormat: 'yy-mm-dd'
    });
  } );
</script>
<script>
( function( $ ) {
	$( document ).ready(function() {
	$('#cssmenu').prepend('<div id="bg-one"></div><div id="bg-two"></div><div id="bg-three"></div><div id="bg-four"></div>');
	});
	} )( jQuery );
</script>
</head>
<body>

</body>
</html>