<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/template">
<head>
<title>Edit Peserta</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div layout:fragment="content">
		<div class="box">
		<h1>Edit Artikel</h1>
		</div>
		
		<div class="mydiv">
		<form action="#" th:action="@{/artikel/form}"	th:object="${artikel}" method="post" enctype="multipart/form-data">
			<label>Nama Media</label>
			<input type="text" th:field="*{namaMedia}" class="myform">
			<span th:if="${#fields.hasErrors('namaMedia')}"	th:errors="*{namaMedia}" class="error">Error</span><br />
				
			<label>Judul</label>
			<input type="text" th:field="*{judul}" class="myform">
			<span th:if="${#fields.hasErrors('judul')}"	th:errors="*{judul}" class="error">Error</span><br />
				
			<label>Halaman</label>
			<input type="number" th:field="*{halaman}" class="myform">
			<span th:if="${#fields.hasErrors('halaman')}"	th:errors="*{halaman}" class="error">Error</span><br />
				
				
			<label>Tanggal</label>
			<input type="text" th:field="*{tanggal}" id="datepicker" class="myform">
			<span th:if="${#fields.hasErrors('tanggal')}"	th:errors="*{tanggal}" class="error">Error</span><br />
				
			<label>Penulis</label>
			<input type="text" th:field="*{namaPenulis}" class="myform">
			<span th:if="${#fields.hasErrors('namaPenulis')}"	th:errors="*{namaPenulis}" class="error">Error</span><br />
				
				
			<label>Edisi</label>
			<input type="text" th:field="*{edisi}" class="myform">
			<span th:if="${#fields.hasErrors('edisi')}"	th:errors="*{edisi}" class="error">Error</span><br />
		
		
			<label>Rubrik</label>
			<select name="rubrik" th:field="*{rubrik.id}" class="myform">
				<option th:each="r : ${daftarRubrik}"
						th:value="${r.id}" th:text="${r.namaRubrik}" />
				</select>
			
			<span th:if="${#fields.hasErrors('rubrik')}"	th:errors="*{rubrik}" class="error">Error</span><br />
		
		
			<label>Tags</label>
			<input type="text" th:field="*{tags}" class="myform">
			<span th:if="${#fields.hasErrors('tags')}"	th:errors="*{tags}" class="error">Error</span><br />
		
		
			<label>Keterangan</label>
			<textarea th:field="*{ket}" cols="30" rows="5"  class="myform"></textarea>
			<span th:if="${#fields.hasErrors('ket')}"	th:errors="*{ket}" class="error">Error</span><br />
		
			<label>Daftar File</label>
			<ul th:each="f : ${files}">
				<li><a th:href="@{f.linkFile}" th:text="${f.namaFile}">File 1</a> [hapus]</li>
			</ul>
			<br /><br />
		
			<label>Tambah File</label>
			<input type="file" name="file-artikel" multiple="multiple" class="myform-file"/><br /><br />
			
			<input type="hidden" th:field="*{id}" />
			<input type="submit" value="Simpan" class="myform-submit"> &nbsp; 
			<input type="reset" value="Reset" class="myform-reset">
		
		</form>
		</div>
	</div>

</body>
</html>