<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/template">
<head>
<title>Edit Peserta</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div layout:fragment="content">
		<h1>Form Artikel</h1>
		<hr />
		<form action="#" th:action="@{/artikel/form}"	th:object="${artikel}" method="post" enctype="multipart/form-data">
			<table>
				<tr>
					<td>Nama Media</td>
					<td><input type="text" th:field="*{namaMedia}"></td>
					<td><span th:if="${#fields.hasErrors('namaMedia')}"	th:errors="*{namaMedia}" class="error">Error</span></td>
				</tr>
				<tr>
					<td>Judul</td>
					<td><input type="text" th:field="*{judul}"></td>
					<td><span th:if="${#fields.hasErrors('judul')}"	th:errors="*{judul}" class="error">Error</span></td>
				</tr>
				<tr>
					<td>Halaman</td>
					<td><input type="text" th:field="*{halaman}"></td>
					<td><span th:if="${#fields.hasErrors('halaman')}"	th:errors="*{halaman}" class="error">Error</span></td>
				</tr>
				<tr>
					<td>Tanggal</td>
					<td><input type="text" th:field="*{tanggal}" id="datepicker"></td>
					<td><span th:if="${#fields.hasErrors('tanggal')}"	th:errors="*{tanggal}" class="error">Error</span></td>
				</tr>
				<tr>
					<td>Penulis</td>
					<td><input type="text" th:field="*{namaPenulis}"></td>
					<td><span th:if="${#fields.hasErrors('namaPenulis')}"	th:errors="*{namaPenulis}" class="error">Error</span></td>
				</tr>
				<tr>
					<td>Edisi</td>
					<td><input type="text" th:field="*{edisi}"></td>
					<td><span th:if="${#fields.hasErrors('edisi')}"	th:errors="*{edisi}" class="error">Error</span></td>
				</tr>
				<tr>
					<td>Rubrik</td>
					<td><select name="rubrik" th:field="*{rubrik.id}">
						<option th:each="r : ${daftarRubrik}"
								th:value="${r.id}" th:text="${r.namaRubrik}" />
						</select>
					</td>
					<td><span th:if="${#fields.hasErrors('rubrik')}"	th:errors="*{rubrik}" class="error">Error</span></td>
				</tr>
				<tr>
					<td>Tags</td>
					<td><input type="text" th:field="*{tags}"></td>
					<td><span th:if="${#fields.hasErrors('tags')}"	th:errors="*{tags}" class="error">Error</span></td>
				</tr>
				<tr>
					<td>Keterangan</td>
					<td><textarea th:field="*{ket}" cols="30" rows="5"></textarea></td>
					<td><span th:if="${#fields.hasErrors('ket')}"	th:errors="*{ket}" class="error">Error</span></td>
				</tr>
				<tr>
					<td>File 1</td>
					<td><input type="file" name="artikel" multiple="multiple"/></td>
					<td></td>
				</tr>
				<!-- <tr>
					<td>File 2</td>
					<td><input type="file" name="file2" /></td>
					<td></td>
				</tr> -->
				<tr>
					<td><input type="hidden" th:field="*{id}" /></td>
					<td><input type="submit" value="Simpan"> &nbsp; 
						<input type="reset" value="Reset"></td>
					<td></td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>